
mixin modal() 
	//  start modals

	+b.modal-win--menu(id="modal-menu" class=" "  )
		button.fancybox-button.fancybox-close-small(type='button' data-fancybox-close='' title='Закрыть')
			svg(xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 24 24')
				path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
		.text-center
			+logo()
		+mnu()
		+soc()
	// #modal-menu
	+b.modal-win(id="modal-call" class=" "  )
		button.fancybox-button.fancybox-close-small(type='button' data-fancybox-close='' title='Закрыть')
			svg(xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 24 24')
				path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
		.modal-title
		.modal-title-sub
		+form-wrap
			input.order(type="hidden")
			+input("Введите имя")
			+input("E-mail или телефон")
			button.btn.btn-y(type="submit") отправить заявку 
			+polite()
	// #modal-call
	
	+b.modal-win(id="modal-ask" class=" "  )
		button.fancybox-button.fancybox-close-small(type='button' data-fancybox-close='' title='Закрыть')
			svg(xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 24 24')
				path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
		.modal-title
		.modal-title-sub
		+form-wrap
			input.order(type="hidden")
			+input("Введите имя")
			+input("E-mail или телефон")
			+input("Ваш вопрос",'textarea')
			button.btn.btn-y(type="submit") отправить заявку 
			+polite()
	// #modal-ask
	
	+b.modal-win--lg(id="modal-compare" class=" "  )
		button.fancybox-button.fancybox-close-small(type='button' data-fancybox-close='' title='Закрыть')
			svg(xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 24 24')
				path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
		.container
			.modal-title.mw-100 Сравнение версий
			.modal-title-sub.mw-100 Программа &laquo;1С:Бухгалтерия 8&raquo; выпускается в&nbsp;нескольких версиях, которые отличаются функциональностью:
			table
				thead
					tr
						th 1С Бухгалтерия 8
						th.text-center Базовая
						th.text-center проф
						th.text-center корп
				tbody
					mixin tr(t1, t2,t3, t4)
						tr
							td!= t1
							td.text-center
								if t2
									img(src="img/svg/close.svg", alt="")
								else
									img(src="img/svg/check-green.svg", alt="")
							td.text-center
								if t3
									img(src="img/svg/close.svg", alt="")
								else
									img(src="img/svg/check-green.svg", alt="")
							td.text-center
								if t4
									img(src="img/svg/close.svg", alt="")
								else
									img(src="img/svg/check-green.svg", alt="")
					+tr(`Готовое решение для ведения бухгалтерского и налогового учета`)
					+tr(`Подготовка бухгалтерской и налоговой отчетности`)
					+tr(`Ведение налогового учета по налогу на прибыль`)
					+tr(`Налоговый учет: УСН и ЕНВД`)
					+tr(`Ведение партионного учета`)
					+tr(`Возможность настройки счетов учета материально-производственных запасов и&nbsp;расчетов с&nbsp;контрагентами`)
					+tr(`Учет по&nbsp;нескольким организациям в&nbsp;единой информационной базе`,'1')
					+tr(`Учет в&nbsp;организациях, имеющих обособленные подразделения (включая автоматизацию распределения налога на&nbsp;прибыль по&nbsp;подразделениям и&nbsp;консолидацию отчетности по&nbsp;НДС`,'1','1')
					+tr(`Подготовка уведомления о контролируемых сделках`,'1','1')
					+tr(`Расчеты в рамках государственных контрактов`,'1','1')
					+tr(`Отчетность контролируемых иностранных компаний`,'1','1')
					+tr(`Отчетность некредитных финансовых организаций`,'1','1')
					+tr(`Возможность изменения (конфигурирования) прикладного решения`,'1')
					+tr(`Многопользовательский режим работы, в&nbsp;том числе поддержка клиент-серверного варианта работы`,'1')
					+tr(`Работа территориально распределенных информационных баз`,'1')
					+tr(`Поддержка внешнего соединения с информационной базой`,'1')
					+tr(`Использование в режиме веб-клиента`,'1')
			button.btn.btn-y.modal-close(data-fancybox-close='' ) закрыть
	// #modal-ask

	+b.modal-win(id="modal-faq" class=" "  )
		button.fancybox-button.fancybox-close-small(type='button' data-fancybox-close='' title='Закрыть')
			svg(xmlns='http://www.w3.org/2000/svg' version='1' viewBox='0 0 24 24')
				path(d='M13 12l5-5-1-1-5 5-5-5-1 1 5 5-5 5 1 1 5-5 5 5 1-1z')
		+b.slider-faq--js.swiper-container
			.swiper-wrapper
				mixin item(t)
					+e.slide.swiper-slide
						+e.title= t
						p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.."

						p Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.
				+item(`На что их можно потратить подарочные часы?`)
				+item(`Кому нужна 1С Бухгалтерия 8?`)
				+item(`Что такое ИТС и зачем оно нужно?`)
				+item(`Какие преимущества программы 1С Бухгалтерия 8?`)
				+item(`Как записаться на демонстрацию продукта?`)
				+item(`Как записаться на демонстрацию продукта?`)
		.control-wrap
			+arrow
	// #modal-faq
	
	// end modals