.modal-title{
	@include rfs(30px);
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 1em;
	text-align: center;
	line-height: (36 / 30);
	span{
		display: inline-block;
		color: $primary;
	}
}
.modal-title-sub{ 
	margin-bottom: 1rem;
}
.modal-title,
.modal-title-sub{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	max-width: rem(390);
}
.modal-title-sub.mw-100 {
	margin-bottom: rem(50);
}
.modal-win {
	&:not(.active){
		transform: translate3d(120%, 0,0);
		opacity: 0;

	}
	@include mt(.4);
	will-change: transform;
	width: 100%;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	background-color: #ffffff;
	width: 100%;
	@include media-breakpoint-up(md) {
		max-width: rem(495);
		&--lg{
			max-width: 100%;
		}
	}
	padding: rem(83) rem(40);
	height: 100vh;
	overflow-y: auto;
	.fancybox-button{
		top: rem(20);
		right: rem(20);
		padding: 0;
		opacity: 1 !important;
		svg{
			opacity: 1 !important;
			width: rem(24 * 1.6);
			height: rem(24 * 1.6);
			color: #cacaca !important;
		}
	}
	.form-wrap{
		margin-left: auto;
		margin-right: auto;
		max-width: rem(375);
		.btn{
			width: 100%;
			margin-bottom: rem(30);
			margin-top: rem(30);
		}
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}

	.mfp-close {
		color: $primary;
		font-size: 40px;
		font-weight: 100;
	}
	.btn-y{
		margin-left: auto;
		margin-right: auto;
		display: block;
	}
	--blockColor:#{$body-color};
	&--menu{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	.menu{
		display: block;
		text-align: center;
		a{	@include media-breakpoint-up(md) {

			font-size: rem(24);
		}
				font-size: rem(45);
				font-weight: bold;
				margin-bottom: 0.5rem;
				color: $body-color;
				text-transform: uppercase;
		}
	}
	.soc{
		justify-content: center;
		&__item{
			&--vk{
				color: #2787f5;
			}
			
			&--instagram{
				color: #D92C7D;
			}
			&--telegram{
				color: #27A5E4;
			}
			&--twitter{
				color: #1DA1F2;
			}

		}
	}
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}

.mfp-close {
	user-select: none; // width: 44px;
	// height: 44px;
	// line-height: 44px;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	opacity: .65; // padding: 0 0 18px 10px;
	// color: #fff;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	padding: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 56px;
	height: 56px; // box-shadow: 0 10px $h2-font-size rgba(0, 0, 0, 0.15);
	// background-color: #fff;
	border-radius: 50%;
	line-height: 56px;
	text-align: center;
	margin-top: -5px;
	margin-right: -5px;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

@include media-breakpoint-up(sm) {
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;

		:hover {
			display: none;
		}
	}
}


table{
	margin-bottom: rem(60);
}
thead th{ 
	position: relative;
	z-index: 2;
	&::before{
		content: '';
		z-index: -1;
		background: #EBEBF3;
		@include a-cent;
		width: calc(100% + 1px);
		
	}
	text-transform: uppercase;
	&:first-child{
		&::before{
			border-radius: 12px 0 0 0 ; 
		}
		position: relative;
		// overflow: hidden;
	} 
	&:last-child{
		&::before{
			border-radius: 0 12px 0 0 ;
		}
		position: relative;
		// overflow: hidden;

	}

}
td,
th{
	@include media-breakpoint-up(lg) { 
		font-size: 1rem;
		padding: rem(16) rem(20); 
	} 
	padding: rem(16) rem(16); 
	font-size: 14px;
}

td{
	border-left: 1px solid #CACACA;
	border-top: 1px solid #CACACA;
	&:last-child{
		border-right: 1px solid #CACACA;
	}
}
tbody tr:last-child{
	border-bottom: 1px solid #CACACA;

}
.modal-win{

	td{
		img{
			width: rem(24);
		}
		&:nth-child(n + 2) {
			@include media-breakpoint-up(xl) {
				--w: #{rem(230)};
			}
			
			@include media-breakpoint-up(xl) {
				--w: #{rem(205)};
			}
			@include media-breakpoint-up(lg) {
				--w: 105px;
			}
			--w: 90px;

			width: var(--w);
		}
	}
}
.control-wrap{
	position: relative;
	margin-top: rem(52);
	width: rem(135);
	.swiper-button-hand{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	--swiperArrowPosition: 0; 
}
.slider-faq__title{
	@include rfs(30px);
	font-weight: bold;
	margin-bottom: rem(37);
	line-height: (36 / 30);
	&::after{
		content: '';
		width: rem(60);
		height: 2px;
		display: block;
		background-color:   #FF294A;
		margin-top: rem(40);
	}
}
// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}