
	// start .sDemo
	.sDemo {
		position: relative;
		overflow: hidden;
		.el-img{
			 
			&--1{ 
				// transform: translate(calc(-1 * 272px / 2), calc(-1 * 272px / 2)); 
				// top: 50%;
				display: none;
			}
			
			&--2{
				--t: calc(100px);
				--l: calc(100px);
				.img-svg{
					// transform: rotate(180deg);
				}
			}
			// &--3{
			// 	--t: calc(130px);
			// 	--l: 40%;
			// 	.img-svg{
			// 		position: relative;
			// 		transform: translateX(-50%); 
			// 	}
			// }
			// &--4{
			// 	--t: calc(20px);
			// 	--l: auto;
			// 	right: 0;
			// }
			// &--5{
			// 	--t: calc(157px);
			// 	--l: calc(157px);
			// }
			
			// &--6{
			// 	--t: calc(357px);
			// 	--l: calc(157px);
			// 	right: rem(80);
			// 	width: 437px;
			// 	height: 437px;
			// }
			
			// &--7{
			// 	--t: 20px;
			// 	--l: auto;
			// 	right: 0;
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--8{
			// 	--t: calc(600px);
			// 	--l: calc(50% );
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			// &--9{
			// 	bottom: -64px;
			// 	--t: auto;
			// 	--l: calc(50% -64px);
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--10{
			// 	--t: auto;
			// 	--l: auto;
			// 	bottom: 50px;
			// 	right: 50px;
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--11{
			// 	--t: auto;
			// 	--l: calc( 103px);
			// 	bottom: rem(0); 
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--12{
			// 	--t: auto;
			// 	--l: calc( 103px);
			// 	bottom: rem(150); 
			// 	transform: rotate(140deg);
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			// &--13{
			// 	--t: auto;
			// 	--l: calc(60%);
			// 	bottom: rem(40); 
			// 	// width: 437px;
			// 	// height: 437px;
			// } 
			// &--14{
			// 	--t: auto;
			// 	--l: calc(100px );
			// 	// width: 437px;
			// 	bottom: rem(40); 
			// 	// width: 437px;
			// 	// height: 437px;
			// } 

			&--15{
				--t: auto;
				--l: auto;
				bottom: 20px;
				right: 100px;
				// width: 437px;
				// height: 437px;
			} 
		}
		p{
			max-width: rem(520);
			margin-bottom: rem(38);
		}
		 
	@include media-breakpoint-up(xl) {
		.btn{
			width: rem(300);
		}
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sDemo

.video-block{ 
	@include media-breakpoint-up(lg){
		left: 90%;
		@include a-cent(y);
	}
	margin:0  auto 40px; 
	position: relative;
	@include media-breakpoint-up(xxl) {
		--sizeW: #{rem(768.75px)};
		--sizeH: #{rem(440.5px)};
	}
 
	@include media-breakpoint-up(xl) {
		--sizeW: #{rem(768.75 * .8)};
		--sizeH: #{rem(440.5 * .8)};
	}
	// @include media-breakpoint-up(lg) {
	// }
	@include media-breakpoint-up(md) {

		--sizeW: #{rem(768.75 * .76)};
		--sizeH: #{rem(440.5 * .76)};
	} 
 
	width: var(--sizeW);
	height: var(--sizeH);
	.video-bg{
		position: absolute;
		left: 0;
		top: 0;
	}
	.mac-block{
		// width: 100%;
		// height: 100%; 
		display: block;
		position: relative;
		z-index: 2;
	}
	.video-bg{ 
		width: 80%;
		height: 89%;
		position: absolute;
		@include a-cent(x);
		left: 1%;
		top: 2%;
		object-fit: cover;
		iframe,
		img{
			width: 100% !important;
			height: 100% !important;
			object-fit: cover;
		}
	}
}