
	// start .sGift
	.sGift {
		text-align: center;
		overflow: hidden;
		.el-img{
			 
			&--1{ 
				// transform: translate(calc(-1 * 272px / 2), calc(-1 * 272px / 2)); 
				// top: 50%;
				display: none;
			}
			
			&--2{
				--t: calc(100px);
				--l: calc(100px);
				.img-svg{
					// transform: rotate(180deg);
				}
			}
			// &--3{
			// 	--t: calc(130px);
			// 	--l: 40%;
			// 	.img-svg{
			// 		position: relative;
			// 		transform: translateX(-50%); 
			// 	}
			// }
			// &--4{
			// 	--t: calc(20px);
			// 	--l: auto;
			// 	right: 0;
			// }
			// &--5{
			// 	--t: calc(157px);
			// 	--l: calc(157px);
			// }
			
			// &--6{
			// 	--t: calc(357px);
			// 	--l: calc(157px);
			// 	right: rem(80);
			// 	width: 437px;
			// 	height: 437px;
			// }
			
			// &--7{
			// 	--t: 20px;
			// 	--l: auto;
			// 	right: 0;
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--8{
			// 	--t: calc(600px);
			// 	--l: calc(50% );
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			// &--9{
			// 	bottom: -64px;
			// 	--t: auto;
			// 	--l: calc(50% -64px);
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--10{
			// 	--t: auto;
			// 	--l: auto;
			// 	bottom: 50px;
			// 	right: 50px;
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--11{
			// 	--t: auto;
			// 	--l: calc( 103px);
			// 	bottom: rem(0); 
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--12{
			// 	--t: auto;
			// 	--l: calc( 103px);
			// 	bottom: rem(150); 
			// 	transform: rotate(140deg);
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			// &--13{
			// 	--t: auto;
			// 	--l: calc(60%);
			// 	bottom: rem(40); 
			// 	// width: 437px;
			// 	// height: 437px;
			// } 
			// &--14{
			// 	--t: auto;
			// 	--l: calc(100px );
			// 	// width: 437px;
			// 	bottom: rem(40); 
			// 	// width: 437px;
			// 	// height: 437px;
			// } 

			&--15{
				--t: auto;
				--l: auto;
				bottom: -40px;
				right: 80px;
				// width: 437px;
				// height: 437px;
			} 
		}
		h2{
			margin-left: auto;
			margin-right: auto;
			// max-width: rem(930);
			text-align: center;
		}
		&--1{
			h2{
				max-width: none !important;
			}
		}
		&--2{
			background: #F8F8F8;
			h2{
				max-width: rem(1020);
			}
		}
		.section-inner{
			position: relative;
		}
		.section-inner,
		.sub-title{
			text-align: center;

		}
		li{
			padding-left: 0;
			&::before{
				position: relative;
				display: inline-block;
				top: rem(-4);
				margin-right: rem(10);

			}
		}
		&--1 .container{
			@include media-breakpoint-up(lg) {

				position: relative;
				max-width: rem(1000);
			}
				.box{
				position: absolute;
				@include a-cent(y);
				  
				@include media-breakpoint-up(xxl) {
					--w: #{rem(720)};
					--h: #{rem(711)};
				}
				
				@include media-breakpoint-up(xl) {
					--w: #{rem(720 * .9)};
					--h: #{rem(711 * .9)};
					--pos: 100%;
				}
				@include media-breakpoint-up(lg) {
					--w: 386px;
					--h: 381px;
					--pos: 92%;
				}
				width: var(--w);
					height: var(--h);

				&--left{
					right: var(--pos);
				}
				
				&--right{
					left: var(--pos);
				}
			}
		}
		p{
			margin-bottom: rem(46);
		}
		 
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sGift