// start .headerBlock
.circle{
	width: 100vw;
	height: 100vw;
	position: absolute;
	@include a-cent(y);
	opacity: 0.75;
	border-radius: 50%;
	pointer-events: none;
	&--left{
		right: 50%;
		background: radial-gradient(50% 50% at 50% 50%, rgba(0, 41, 255, 0.15) 0%, rgba(0, 41, 255, 0) 100%);
	}
	&--right{
		left: 50%;
		.circle--right{
			background: radial-gradient(50% 50% at 50% 50%, rgba(255, 41, 74, 0.15) 0%, rgba(0, 41, 255, 0) 100%);
		}
	}
}
// .circle--left
		// .circle.circle--right
.el-img{
	position: absolute;
	// pointer-events: none;
	--t: 0;
	--l: 0;
	top: var(--t);
	left: var(--l);
	z-index: -1;
	.img-svg{
		@include mt;
		position: relative;
		[stroke="var(--svgColor)"] {
			stroke:  var(--svgColor) !important;
		}
	}
	&--1{ 
		transform: translate(calc(-1 * 272px / 2), calc(-1 * 272px / 2)); 
		.img-svg{
			transform: translate(-50%); 
		}
	}
	
	&--2{
		--t: calc(1 * 150px / 1);
		@include media-breakpoint-down(sm){
			--t: calc(1 * 30px / 1);

			--l: calc(1 * 20px / 1);
		}
		--l: calc(1 * 120px / 1);
	}
	&--3{
		--t: calc(130px);
		--l: calc(620 / 1920 * 100% );
	}
	&--4{
		--t: calc(0px);
		--l: calc(1050 / 1920 * 100% );
	}
	&--5{
		--t: calc(180px);
		--l: calc(1000 / 1920 * 100% );
	}
	
	&--6{
		--t: calc(157px);
		--l: auto;
		@include media-breakpoint-down(sm) {
			
			right: rem(-280);
		}
		right: rem(80);
		width: 437px;
		height: 437px;
	}
	
	&--7{
		--t: calc(500px);
		--l: calc(580 / 1920 * 100% );
		// width: 437px;
		// height: 437px;
	}
	
	&--8{
		--t: calc(600px);
		--l: calc(50% );
		// width: 437px;
		// height: 437px;
	}
	&--9{
		bottom: -64px;
		--t: auto;
		--l: calc(50% -64px);
		// width: 437px;
		// height: 437px;
	}
	
	&--10{
		--t: auto;
		--l: auto;
		bottom: 50px;
		right: 50px;
		@include media-breakpoint-down(sm){
			right: -150px;

		}
		// width: 437px;
		// height: 437px;
	}
	
	&--11{
		--t: auto;
		--l: calc( 103px);
		bottom: rem(0); 
		// width: 437px;
		// height: 437px;
	}
	
	&--12{
		--t: auto;
		--l: calc( 103px);
		bottom: rem(150); 
		transform: rotate(140deg);
		// width: 437px;
		// height: 437px;
	}
	&--13{
		--t: auto;
		--l: calc(60%);
		bottom: rem(40); 
		// width: 437px;
		// height: 437px;
	} 
}

.headerBlock {
	margin-bottom: 1px;
	overflow: hidden;
	@include media-breakpoint-up(xl) {
		--sPT: #{rem(100)};
		--sPB: #{rem(100)};
	}
	--sPT: #{rem(140)};
	--sPB: #{rem(140)};
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	position: relative;
	// padding-top: 178px;
	z-index: 2;
	background-color: #1C1C24;

	
	&::before{
		// content: '';
		// @include a-cent;
		// z-index: -1;
		// background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 41, 255, 0.15) 0%, rgba(0, 41, 255, 0) 100%);
		// opacity: 0.75;
	}

	img{
		max-height: 100%;
		@include media-breakpoint-up(xxl) {

			max-width: rem(720);
		}
		@include media-breakpoint-only(xl) {
			
			max-width: 480px;
		}
		max-width: 560px;
	}
	picture{

		margin-right: -200px;
	}
	.row{
		align-items: center;
	}
	ul{
		display: flex;
		align-items: center;
		margin-left: rem(-15);
		margin-right: rem(-15); 
		@include media-breakpoint-down(lg) {
			justify-content: center;
		}
	}
	li{ 
		margin-left: rem(15);
		margin-right: rem(15); 
		white-space: nowrap;
		 
	}
	p{
		max-width: rem(440);
		margin-bottom: calc(var(--sp) + #{rem(32)});
	}
	.btn-y{
		 width: rem(280);
	}
 

		@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	//
	@include media-breakpoint-between(md, xl) {}


	//
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	//
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}

}

// end.headerBlock

.btn-next{
	@include a-cent1(x);
	bottom: rem(60);
	color: $primary;
	cursor: pointer;
	.icon{
		font-size: rem(30);
	}
}