
	// start .sApplication
	.sApplication {
		overflow: hidden;
		@include media-breakpoint-up(xl) {

			--sPB: #{rem(140)};
		}
		p{
			margin-bottom: rem(50);
		}

		.pic-abs{  
			@include media-breakpoint-up(xxl) { 
					min-height: rem(813);
					min-width: rem(813); 
					left: 90%;
			}
			@include media-breakpoint-up(md){ 
				height: rem(813 * .8);
					width: rem(813 * .8); 
		 
		}
	}
		 
	@include media-breakpoint-up(xl) {
		h2{
			// margin-right: -40px;
		}
	}
	h2{
		max-width: none;
	}
	@include media-breakpoint-down(xlg) { 
		.section-inner{
			text-align: center;
		}
	}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(sm) {
		.el-img{
			 
			&--1{ 
				// transform: translate(calc(-1 * 272px / 2), calc(-1 * 272px / 2)); 
				// top: 50%;
				// display: none;
			}
			
			&--2{
				 
			}
			// &--3{
			// 	--t: calc(130px);
			// 	--l: 40%;
			// 	.img-svg{
			// 		position: relative;
			// 		transform: translateX(-50%); 
			// 	}
			// }
			// &--4{
			// 	--t: calc(20px);
			// 	--l: auto;
			// 	right: 0;
			// }
			&--5{
				top: 50%;
			 
			}
			
			&--6{
				--t: 30%;
				// --l: calc(0);
				right: rem(0);
				width: 437px;
				height: 437px;
				zoom: .8;
				svg{
					transform: translateX(50%);
				}
			}
			
			&--7{
			 top: 75%;
			 left: 40px;
			}
			
			// &--8{
			// 	--t: calc(600px);
			// 	--l: calc(50% );
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			// &--9{
			// 	bottom: -64px;
			// 	--t: auto;
			// 	--l: calc(50% -64px);
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--10{
			// 	--t: auto;
			// 	--l: auto;
			// 	bottom: 50px;
			// 	right: 50px;
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--11{
			// 	--t: auto;
			// 	--l: calc( 103px);
			// 	bottom: rem(0); 
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			
			// &--12{
			// 	--t: auto;
			// 	--l: calc( 103px);
			// 	bottom: rem(150); 
			// 	transform: rotate(140deg);
			// 	// width: 437px;
			// 	// height: 437px;
			// }
			// &--13{
			// 	--t: auto;
			// 	--l: calc(60%);
			// 	bottom: rem(40); 
			// 	// width: 437px;
			// 	// height: 437px;
			// } 
			// &--14{
			// 	--t: auto;
			// 	--l: calc(100px );
			// 	// width: 437px;
			// 	bottom: rem(40); 
			// 	// width: 437px;
			// 	// height: 437px;
			// } 
			.el-img--13 {
		 
			}
			&--15{
			 
			} 
		}
	}
} // end.sApplication