
	// start .sStart
	.sStart {
		overflow: hidden;
		.el-img{
			 
			&--1{ 
				// transform: translate(calc(-1 * 272px / 2), calc(-1 * 272px / 2)); 
				// top: 50%;
				display: none;
			}
			
			&--2{
				--t: 60%;
				--l: calc(1 * 100px / 1);
				@include media-breakpoint-down(sm){
					top: auto;
					left: auto;
					bottom: 150px;
					right: -100px;
					display: none;
				}
			}
			&--3{
				--t: calc(130px);
				--l: 0;
				.img-svg{
					position: relative;
					transform: translateX(-50%); 
				}
			}
			&--4{
				--t: calc(0px);
				--l: calc(1050 / 1920 * 100% );
			}
			&--5{
				--t: auto;
				--l: auto;
				bottom: 50px;
				right: 50px;
				@include media-breakpoint-down(sm){
					top: 120px;
					left: 120px;
					bottom: auto;
					right: auto;
				}
			}
			
			&--6{
				--t: calc(357px);
				--l: calc(157px);
				right: rem(80);
				width: 437px;
				height: 437px;
			}
			
			&--7{
				--t: auto;
				--l: auto;
				top: 50px;
				right: 50px;
				// width: 437px;
				// height: 437px;
			}
			
			&--8{
				--t: calc(600px);
				--l: calc(50% );
				// width: 437px;
				// height: 437px;
			}
			&--9{
				bottom: -64px;
				--t: auto;
				--l: calc(50% -64px);
				// width: 437px;
				// height: 437px;
			}
			
			&--10{
				--t: auto;
				--l: auto;
				bottom: 50px;
				right: 50px;
				// width: 437px;
				// height: 437px;
			}
			
			&--11{
				--t: auto;
				--l: calc( 103px);
				bottom: rem(0); 
				// width: 437px;
				// height: 437px;
			}
			
			&--12{
				--t: auto;
				--l: calc( 103px);
				bottom: rem(150); 
				transform: rotate(140deg);
				// width: 437px;
				// height: 437px;
			}
			&--13{
				--t: auto;
				--l: calc(60%);
				bottom: rem(40); 
				// width: 437px;
				// height: 437px;
			} 
			&--14{
				--t: auto;
				--l: auto;
				right: rem(50);
				bottom: rem(40); 
				// width: 437px;
				// height: 437px;
			} 
			&--15{
				--t: calc(200px);
				--l: calc(10% );
				// width: 437px;
				// height: 437px;
				@include media-breakpoint-down(sm){
					top: auto;
					left: auto;
					bottom: 20px;
					right: 20px;
					img{
						position: relative;
						// transform: translate(20%);
					}
				}
			} 
		}
		
	

		p,
		li{

			text-align: left;
		}

		@include media-breakpoint-only(md) {

			.container {
				max-width: 510px;
			}
		}
		.btn{
			width: 267px;
		}
		 picture{
			 &::before{
				 content: '';
				 position: absolute;
				 background-image: url(../img/@2x/webp/cloud.webp);
				 width: (855 / 720 * 100%);
				 height: (462/ 711 * 100%);
				 left: -10%;
				 bottom: (-100 / 711 * 100%);
				 background-size: contain;
				 background-repeat: no-repeat;
				 @include mt;
				 -webkit-animation: linear infinite;
				-webkit-animation-name: run;
				-webkit-animation-duration: 15s;
				@-webkit-keyframes run {
					0% {
						left:-10%;
					}
					50% {
						left: 10%;
					}
					100% {
						left: -10%;    
					}
				}
			 }
		 }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
} // end.sStart