mixin sStart(data)
	// start sStart
	+b.SECTION.sStart.section#sStart&attributes(attributes)
		+b.section-inner
			.container 
				.row 
					.sp-block.section-inner__col.section-inner__col--right.col-lg-6
						.sub-title быстрый старт
						h2 1с&nbsp;Фреш &mdash; <br> бухгалтерия <br> в&nbsp;облаке
						+pic('start-img.png','','768px').d-block.d-md-none.d-lg-block.pic-abs
						p Начните писать отчеты удаленно в интернете, уже через минуту.
						ul
							li Регистрация за 1 минуту
							li Быстрый доступ с компьютера, ноутбука, планшета или телефона
							li Без дополнительных расходов 
						.row.align-items-center.justify-content-lg-start.justify-content-center
							.col-auto
								a.btn.btn-y(href="#") 30 дней бесплатно
	// end sStart