
	// start .sWhy
	.sWhy {
		.circle--right{
			background: radial-gradient(50% 50% at 50% 50%, rgba(255, 41, 74, 0.15) 0%, rgba(0, 41, 255, 0) 100%);
		}
		.el-img{
			 
			&--1{ 
				// transform: translate(calc(-1 * 272px / 2), calc(-1 * 272px / 2)); 
				// top: 50%;
				display: none;
			}
			
			&--2{
				--t: auto;
				--l: auto;
				top:  calc(1 * 70px / 1);
				right: calc(1 * 120px / 1);
			}
			&--3{
				--t: calc(130px);
				--l: 0;
				.img-svg{
					position: relative;
					transform: translateX(-50%); 
				}
			}
			&--4{
				--t: calc(0px);
				--l: calc(1050 / 1920 * 100% );
			}
			&--5{ 
					--t: 15%;
					--l: 52%; 
			}
			
			&--6{
				--t: 18%;
				--l: auto;
				right: rem(80);
				width: 437px;
				height: 437px;
			}
			
			&--7{
				--t: 64%;
				--l: 30%;
			}
			
			&--8{
				--t: calc(600px);
				--l: calc(50% );
				// width: 437px;
				// height: 437px;
			}
			&--9{
				bottom: -64px;
				--t: auto;
				--l: calc(50% -64px);
				// width: 437px;
				// height: 437px;
			}
			
			&--10{
				--t: auto;
				--l: auto;
				bottom: 50px;
				right: 50px;
				// width: 437px;
				// height: 437px;
			}
			
			&--11{
				--t: auto;
				--l: calc( 103px);
				bottom: rem(0); 
				// width: 437px;
				// height: 437px;
			}
			
			&--12{
				--t: auto;
				--l: calc( 103px);
				bottom: rem(150); 
				transform: rotate(140deg);
				// width: 437px;
				// height: 437px;
			}
			&--13{
				--t: auto;
				--l: calc(60%);
				bottom: rem(60); 
				// width: 437px;
				// height: 437px;
			} 
			&--14{
				--t: auto;
				--l: auto;
				right: rem(50);
				bottom: rem(40); 
				// width: 437px;
				// height: 437px;
			} 
			&--15{
				--t: calc(200px);
				--l: calc(30% );
				// width: 437px;
				// height: 437px;
			} 
		}
		
	
		
		.el-img{
			 
			&--1{ 
				// transform: translate(calc(-1 * 272px / 2), calc(-1 * 272px / 2)); 
				// top: 50%;
				display: none;
			}
			
			&--2{
				--t: calc(100px);
				--l: calc(100px);
				.img-svg{
					// transform: rotate(180deg);
				}
			}
		 
			&--10{
				--t: auto;
				--l: auto;
				bottom: 20px;
				right: 20px;
				// width: 437px;
				// height: 437px;
			}
	 

			&--15{
				--t: auto;
				--l: auto;
				bottom: -40px;
				right: 80px;
				// width: 437px;
				// height: 437px;
			} 
		}

		@include media-breakpoint-up(md) {
			padding-top: calc(var(--sp) + #{rem(30)});
		}
		@include media-breakpoint-only(xl){
			
			// padding-top: rem(20);
		}

		h2{
			max-width: rem(660);
		}
		@include media-breakpoint-up(lg) {
			.section-inner__col{
				
			.pic-abs{
				@include media-breakpoint-only(xl){
					height: rem(911 * .8);
					width: rem(781 * .8);
					margin-top: rem(30);

				}
				height: rem(911);
				width: rem(781);
				
				max-height: none;
				// top: auto;
				// bottom: 0;
			}
		}
		}
		

		
		 
		--sPB: #{rem(0)};
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	

	}
	@include media-breakpoint-up(sm) {}
	//
	@include media-breakpoint-between(md, xl) { }
	//
	@include media-breakpoint-only(xl) {}
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(md) {
		position: relative;
		overflow: hidden;
		.section-inner__picture-wrap{
			margin-bottom: rem(-160);
			margin-left: -30px;
			margin-right: -30px;
		}
	}
} // end.sWhy

.why-list{
	@include media-breakpoint-up(md){

		text-align: left;
	}
	&__icon-wrap{
		background: rgba(0, 240, 255, 0.1);
		border: 2px solid #00F0FF;
		box-sizing: border-box;
		box-shadow: 0px 5px 50px rgba(0, 240, 255, 0.05);
		border-radius: 12px;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(90px);
		height: rem(90px);
		position: relative;
		z-index: 2;
		@include media-breakpoint-up(md){
			margin: 0;
		}
		margin: 0 auto  rem(20);
	}
	p{
		margin-bottom: 0;
	}
	p.ttu{
				margin-bottom: rem(5);
	}
	&__item{
		margin-bottom: calc(var(--sp) + #{rem(25)});
		position: relative;
		.col{
			position: relative;
			overflow: hidden;
		}
	}
}