mixin sWhy(data)
	// start sWhy
	+b.SECTION.sWhy.section#sWhy&attributes(attributes)
		+b.section-inner
			.container 
				.row 
					.sp-block.section-inner__col.col-lg-6 
						h2 почему выбирают 
							span 1с&nbsp;бухгалтерию&nbsp;8
						+b.why-list.row
							mixin item(i, t, p)
								+e.item.col-md-12.col-6
									.row
										.col-md-auto
											+e.icon-wrap
												img(src=`img/svg/why-${i}.svg`, alt="") 
										.col
											p.ttu= t
											p!= p
							+item(`1`,`законы`,`Учет в&nbsp;программе ведется согласно требованиям действующего законодательства&nbsp;РФ`)
							+item(`2`,`КАЛЕНДАРЬ`,`Встроенный календарь помогает главному бухгалтеру вовремя подготовить необходимые отчеты`)
							+item(`3`,`подсказки`,`Встроенная система подсказок работает как самоучитель и&nbsp;позволяет сразу приступить к&nbsp;работе`)
							+item(`4`,`автозаполнение`,`После выполнения стартовых настроек значительная часть данных в&nbsp;документах заполняется автоматически`) 
						+e.picture-wrap
							+pic('why-img.png','',0).d-block.d-md-none.d-lg-block.pic-abs
	// end sWhy