mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
		
			+mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.row
				.col-xl-auto.col
					a(href="/")
						+logo()
				.col.d-none.d-xl-block
					+mnu()
				.col-auto
					+e.tel(href="tel:8(800)500-57-48")
						+icon('call')
						| 8 (800) 500-57-48
				.col-auto.d-none.d-md-block
					+e.btn(href="#") Заказать звонок
				.col-auto.d-xl-none
					+b.toggle-menu-mobile--js
						span
				
	// end top-nav