 
	  
.soc{
	margin: 0 rem(-15px);
	display: flex;
	@include media-breakpoint-up(xxl) {

		padding-right: rem(70);
	}
	&__item{
		text-decoration: none !important;
		margin: 0 rem(15px);
		vertical-align: middle;
		@include mt;
		display: block; 
		color:var(--blockColor);
		&--vk:hover{
			color: #2787F5;
		}
		
		&--instagram:hover{
			color: #D92C7D;
		}
		&--telegram:hover{
			color:#27A5E4;
		}
		&--twitter:hover{
			color: #1DA1F2;
		}

	}
	.icon{
	font-size: rem(24);
	}
	 

}
 

.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

