mixin mnu()
	-
		var nav= { 
			"Цены":"#",
			"Облачная версия":"#",
			"Демонстрация":"#",
			"Отзывы":"#" ,
			"FAQ":"#",
			"Консультация":"#",
			}
	ul.menu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			li.menu-item(itemprop="item" ): a(href= linkPatch itemprop="url")= linkName

//- menu
//- mixin mnu()
//- 	-
//- 		var nav= {
//- 			"Главная":"#sContact",
//- 			"Услуги  ":"#",
//- 			"Подбор септика   ":"#",
//- 			"Акции ":"#",
//- 			" О компании  ":"#",
//- 			" Доставка и оплата ":"#",
//- 			" Клиентам  ":"#",
//- 			" Наши работы   ":"#",
//- 			"Контакты ":"#sContact"
//- 			}
//- 	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
//- 		each linkPatch, linkName in nav
//- 			+e.LI.item( itemprop="item" ): +e.A.link(href= linkPatch  itemprop="url")= linkName
//- //- /menu